$block-class: 'user-section';

$number-of-previews: 4;

@at-root {
    .#{$block-class} {
        max-width: $preview-space * $number-of-previews;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
