$block-class: 'box-controls';

%unindicator {
    position: absolute;
    color: red;
    height: 100%;
    width: 100%;
    content: 'x';
    display: flex;
    justify-content: center;
    align-items: center;
}

@at-root {
    .#{$block-class} {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;

        &:hover {
            opacity: 1;
        }

        &__block {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #333;
            width: 33%;
            height: 33%;

            &--blocked::after {
                @extend %unindicator;
            }
        }

        &__circle {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid black;
            border-radius: 50%;
            width: 9px;
            height: 9px;

            &--circled::after {
                @extend %unindicator;
            }
        }

        &__shade {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #888;
            width: 33%;
            height: 33%;

            &--shaded::after {
                @extend %unindicator;
            }
        }
    }
}
