$block-class: 'crossword-preview';

@at-root {
    .#{$block-class} {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__grid {
            display: flex;
            flex-direction: column;
            border-left: 1px solid black;
            border-top: 1px solid black;
            font-size: 8px;

            @for $size from 1 to 30 {
                &--size-#{$size} {
                    font-size: (8px * 15) / $size;
                }
            }
        }

        &__row {
            display: flex;
            flex-direction: row;
        }

        &__box {
            box-sizing: border-box;
            width: 1em;
            height: 1em;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            text-transform: uppercase;
            text-align: center;

            &--blocked {
                background-color: black;
            }
        }
    }
}
