$block-class: 'editor';

$block-color: black;
$shade-color: #aaa;
$focus-color: #eee;

@at-root {
    .#{$block-class} {
        &__row {
            display: flex;
            flex-direction: row;
        }

        &__box {
            width: 32px;
            height: 32px;
            border-color: black;
            border-style: solid;
            border-width: 1px 1px 0 0;
            position: relative;

            &--blocked {
                background-color: $block-color;
            }

            &--circled::after {
                content: '';
                border: 1px solid black;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                position: absolute;
            }

            &--shaded {
                background-color: $shade-color;
            }

            &:focus {
                background-color: $focus-color;
                outline: none;
            }
        }
    }
}
