$block-class: 'editor';

@at-root {
  .#{$block-class} {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__clues-and-grid {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-self: stretch;
      align-items: flex-start;
    }

    &__clues-wrapper {
      width: $clue-width;

      &:first-child {
        order: 1;
      }

      &:last-child {
        order: 3;
      }
    }

    &__grid {
      border-color: black;
      border-style: solid;
      border-width: 0 0 1px 1px;
      order: 2;
    }

    &__row {
      display: flex;
      flex-direction: row;
    }

    @for $size from 1 to 30 {
      @media (max-width: ($box-size + 1) * $size + (2 * $clue-width) + 40px) {
        &--size-#{$size} {
          .#{$block-class}__clues-wrapper {
            order: 1;
            margin: 16px;
          }

          .#{$block-class}__clues-and-grid {
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}
