$block-class: 'editor';

@at-root {
    .#{$block-class} {
        &__row {
            display: flex;
            flex-direction: row;
        }

        &__box {
            width: 8px;
            height: 8px;
            border-color: black;
            border-style: solid;
            border-width: 1px 1px 0 0;
        }
    }
}
