$block-class: 'editor';

$block-color: black;
$shade-color: #aaa;
$focus-color: #eee;

@at-root {
  .#{$block-class} {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__clues-and-grid {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: stretch;
      align-items: flex-start;
    }

    &__grid {
      border-color: black;
      border-style: solid;
      border-width: 0 0 1px 1px;
    }

    &__row {
      display: flex;
      flex-direction: row;
    }

    &__box {
      width: 32px;
      height: 32px;
      border-color: black;
      border-style: solid;
      border-width: 1px 1px 0 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      &--blocked {
        background-color: $block-color;
      }

      &--circled::after {
        content: '';
        border: 1px solid black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
      }

      &--shaded {
        background-color: $shade-color;
      }

      &:focus {
        outline: none;

        &::before {
          content: '';
          border-bottom: 1px dashed black;
          display: block;
          left: 4px;
          position: absolute;
          right: 4px;
          bottom: 2px;
        }
      }
    }

    &__clue-index {
      position: absolute;
      font-size: 12px;
      background-color: white;
      z-index: 2;
      left: 0;
      top: 0;
    }
  }
}
