$block-class: 'preview-list';

@at-root {
  .#{$block-class} {
    &__title {
      margin-bottom: 10px;
    }

    &__list {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin-top: -10px;

      & > div {
        margin-top: 10px;
      }
    }
  }
}
