$block-class: 'preview-list';

$number-of-previews: 4;

@at-root {
    .#{$block-class} {
        max-width: $preview-space * $number-of-previews;
        margin-left: auto;
        margin-right: auto;

        &__title {
            margin-bottom: 10px;
        }

        &__list {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            margin-top: -10px;

            & > div {
                margin-top: 10px;
            }
        }
    }
}
