$block-class: 'theme-entry-list';

@at-root {
  .#{$block-class} {
    &__entry {
      display: flex;
      flex-direction: row;
    }

    &__text {
      &--used {
        text-decoration: line-through;
      }
    }
  }
}
