$block-color: black;
$shade-color: #aaa;
$active-color: #eee;

$box-size: 32px;
$clue-width: 200px;

@import 'box';
@import 'box-controls';
@import 'clue-list';
@import 'editor';
@import 'theme-entry-addition';
@import 'theme-entry-list';
