%unindicator {
  position: absolute;
  color: red;
  height: 100%;
  width: 100%;
  content: 'x';
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxControls {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;

  &:hover {
    opacity: 1;
  }

  .block {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #555;
    width: 33%;
    height: 33%;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }

    &.blocked::after {
      @extend %unindicator;
    }
  }

  .circle {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #666;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    cursor: pointer;

    &:hover {
      border-color: black;
    }

    &.circled::after {
      @extend %unindicator;
    }
  }

  .shade {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #aaa;
    width: 33%;
    height: 33%;
    cursor: pointer;

    &:hover {
      background-color: #888;
    }

    &.shaded::after {
      @extend %unindicator;
    }
  }
}
