.remoteCursors {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  z-index: 4;

  .cursor {
    height: 100%;

    .details {
      display: none;
    }

    &:hover {
      .details {
        display: block;
      }
    }
  }
}
