.themeEntries {
  .themeEntryList {
    .entry {
      display: flex;
      flex-direction: row;
    }

    .text {
      &.used {
        text-decoration: line-through;
      }
    }
  }
  .themeEntryAddition {
    display: flex;
    flex-direction: row;
  }
}
