.suggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;

  .list {
    padding: 3px;
    flex: 1;
  }

  .noSuggestions {
    color: #777;
  }

  .suggestion {
    padding: 2px;

    &:nth-child(odd) {
      background-color: #eee;
    }
  }
}
